body {
    margin: 0; 
    font-family: 'Abel';
    overflow: hidden;
    background: linear-gradient(to bottom, #000000 0%,#00061D 32%,#111111 78%,#000000 100%);
}
body.a { overflow: visible; }
/*galaxy*/

.strscp { position: absolute; height: 100%; width: 100%; z-index: 1; }
.strscp.one { background: url('http://1beat.org/dev/ui/echo/ui/i/spc1.png') repeat; background-position: 50% 150%; }
.strscp.two { background: url('http://1beat.org/dev/ui/echo/ui/i/spc2.png') repeat; background-position: 100% 175%; }
.strscp.three { background: url('http://1beat.org/dev/ui/echo/ui/i/spc3.png') repeat; background-position: 150% 250%; }
p.mouse { padding: 5px 10px; background: rgba(255, 255, 255, 0.42); color: rgb(9, 0, 0); border-radius: 10px 0; font-size: .8em; position: fixed; top: 60px; right: 3%; }


#gxy { z-index: 2; position: relative; margin: 0 auto; height: 100%; width: 100%; top: 0; cursor: url('i/release.png'), auto; top: 0; left: 0; }
#gxy.o { left: -100%; }
#clstr.o { left: -100%; }
#gxy.a { cursor: url('i/grab.png'), auto; }
#gxy .str { position: absolute; height: 50px; width: 50px; background: #FF7B7B; border-radius: 25px; cursor: pointer; z-index: 700; }
#gxy .str.r0 { position: absolute; left: 50%; top: 40%; margin-top: -25px; margin-left: -25px;/* box-shadow: 2px 2px 9px 3px #CF4E4E;*/ }
#gxy .str.r1 { height: 30px; width: 30px; border-radius: 15px; background: #8F4D4D; margin-top: 6px; margin-left: 11px; box-shadow: 2px 4px 4px -2px #490381; }
#gxy .str.r2 {  height: 20px; width: 20px; border-radius: 12.5px; background: #6F76C3; margin-top: 4px; margin-left: 5px; }
#gxy .str.r3 {  height: 15px; width: 15px; border-radius: 10px; background: #84AD99; margin-top: 0px; margin-left: 5px; }
#gxy .str.r4 {  height: 10px; width: 10px; border-radius: 5px; background: rgb(198, 201, 200); }
#gxy .str.chg { box-shadow: 0px 0px 8px 5px #FFFEDD; }
#gxy .systm { position: absolute; top: 50%; left: 50%; height: 0; width: 0; overflow: visible; }

#tac {  position: absolute; background: rgba(240, 240, 240, 0.32); right: 0px; padding: 3px 10px; font-size: .9em; top: 4px; text-transform: uppercase; font-family: 'Signika';  text-align: center; color: #fff;  cursor: pointer; }
#tac:hover {  background: rgba(240, 240, 240, 0.7); }
#tac.a { background: rgba(169, 169, 238, 0.7); }

#abt { position: absolute; height: 100%; width: 100%; top: 0; left: 100%;  display: none; }
#abt.s { display: block; }
#abt.a { left: 0%; }

#abt .slides .nav { position: relative; background: rgba(109, 107, 150, 1); }
#abt .slides .nav ul { list-style-type: none; position: relative; display: inline-block; padding: 0; margin: 0; color: #fff; left: 10%; }
#abt .slides .nav ul li { display: inline-block; float: left; padding: 5px 10px; margin-right: 2px; background: rgba(0, 0, 0, 0); cursor: pointer; }
#abt .slides .nav ul li:hover { background: rgba(135, 123, 155, 1); }
#abt .slides .nav ul li.a { background: rgba(135, 123, 155, 1); }

#abt .slides {  z-index: 50; position: relative; width: 80%; min-width: 900px; margin: 0 auto; color: #000; margin-top: 150px; margin-bottom: 150px; background: rgba(245, 245, 245, 1); overflow: hidden;  } 
#abt .slides .slide {  position: absolute; top: 0; left: 0; width: 80%; min-width: 800px; z-index: 1; background: rgba(245, 245, 245, 1); padding: 1% 10% 5% 10%; margin-top: 30px; color: #0E114B; }
#abt .slides .slide h3 { font-family: 'Signika'; font-size: 1.25em; }
#abt .slides .slide p { }


#abt .slides .slide.a { position: relative; left: 0; display: block; z-index: 5; } 
#abt .slides .slide.n { display: block; }
#abt .slides .slide.r { left: 100%; margin-top: 31px; } 
#abt .slides .slide.l { left: -100%; margin-top: 31px; } 
#abt .slides .slide a { text-decoration: none; color: #C51111; }


.info .ensemble { width: 50%; float: left; margin: 10px 0 20px 0; }
.info .ensemble p { margin: 0; }

/*stars*/

hr { margin: 0; top: 50%; position: relative; margin-top: -1px; position: absolute; height: 1px; border: 0; background: #556; transform-origin: top left; margin-left: 50%; z-index: 40;  }
#ovr { height: 100%; position: fixed; width: 100%; background: rgba(5, 5, 5, 0.63); z-index: 990; display: none; cursor: pointer; }


/*leap players*/


#dwn { color: #FFF; text-decoration: none; position: absolute; text-transform: uppercase; ;box-shadow: 3px 2px 5px -1px #4C9435; z-index: 999; top: 0; }
#dwn a { text-decoration: none; color: #fff; padding: 10px 20px; background: #ADDFBF;  z-index: 999 }

#add form { margin: 0; }
#edt { position: absolute; right: 0; top: 0; padding: 5px 30px; background: #DD8395; color: #fff; cursor: pointer;z-index: 999; }
#del { position: absolute; right: 87px; top: 0px; padding: 5px 23px; background: #DD8395; color: #fff; cursor: pointer; z-index: 999;}
#edt:hover, #del:hover { background: #AA5A6A; }



/* header*/
.hd { margin-top: 40px; width: 100%; position: fixed; z-index: 10; }
.hd h2 { width: 230px; margin: 0 auto; font-family: 'Signika'; text-transform: uppercase; font-size: 2em;  }
.hd .wrp { position: relative; width: 94%; min-width: 1100px; margin: 0 auto; }
.hd .lo { font-family: 'Signika'; font-size: .9em; padding: 3px 10px; text-transform: uppercase; background: #FFFFFF; position: absolute; right: 70px; color: #fff; background: rgba(156, 23, 23, 0.53); box-shadow: 40px -18px 291px 17px rgba(255, 255, 255, 0.91); top: 4px; cursor: pointer; }
.hd .lo:hover { background: rgba(156, 23, 23, 0.9); }
.hd #sts { font-family: 'Signika'; font-size: .9em; padding: 3px 10px; text-transform: uppercase; background: #FFFFFF; position: absolute; right: 145px; color: #fff; background: rgba(156, 23, 23, 0.53); box-shadow: 40px -18px 291px 17px rgba(255, 255, 255, 0.91); top: 4px; cursor: pointer; }
.hd #sts:hover { background: rgba(156, 23, 23, 0.9); }

/*login*/
.lgn.main h2 { text-align: center; font-family: 'Signika'; text-transform: uppercase; margin-top: 0; }
.lgn.main h3 { position: absolute; top: 44px; right: 100px; font-family: 'Signika'; text-transform: uppercase; font-size: .9em;}
.lgn.main a { text-decoration: none; color: #C4EED6; }
.lgn.main a:hover { color: #FFFFFF; }
.lgn { position: relative; width: 500px; margin: 170px auto; color: #fff; padding: 50px 100px; background: rgba(243, 246, 245, 0.39); box-shadow: 20px -20px 410px -50px; z-index: 5;}
.lgn .un { margin-bottom: 5px; border: none; padding: 12px 5px; width: 490px; text-align: center; font-family: 'Abel'; font-size: 1em; background: #EBEBEB; }
.lgn .pw { margin-bottom: 5px; border: none; padding: 12px 5px; width: 500px; text-align: center; font-family: 'Abel'; font-size: 1em; background: #EBEBEB; }
.lgn #log { margin-bottom: 5px; padding: 20px 5px; background: #698F9E; text-align: center; cursor: pointer; color: #fff; }
.lgn #log:hover { background:  #49707F; color: #fff;}





input#file { /*display: none; */}
.file_hide { width: 100%; height: 62px; margin-bottom: 15px; overflow: hidden; }
.file_hide h3 { position: absolute; text-align: center; left: 50%; margin-left: -26px; color: #fff; }
iframe#hidden_upload { display: none; }

#clstr { position: absolute; width: 330px; z-index: 800; left: 3%; top: 5%; }
#clstr .clstr, #clstr .clstr.h.a { -webkit-user-select: none; /* Chrome/Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+ */ float: left; width: 18%; margin: 0 2% 1% 0; padding-top: 10px; height: 50px; background: rgba(82, 48, 109, 0.52); color: #fff; text-align: center; cursor: pointer; font-size: 2em; border-radius: 10px; }
#clstr .clstr:hover { background: rgba(82, 48, 109, 1); }
#clstr .clstr.cur { background: rgba(245, 115, 115, 0.52); }
#clstr .clstr:hover { }
#clstr .clstr.cx, #clstr .clstr.h.a { font-size: 1em; padding-top: 20px; height: 40px; background: rgba(240, 240, 240, 0.32); -webkit-user-select: none; /* Chrome/Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+ */
 }
#clstr .clstr.cx:hover {background: rgba(240, 240, 240, 0.7); }
#clstr .clstr.x { display: none; }
#clstr p.plg { width: 160px; position: fixed; color: #CA0000; bottom: 35%; font-size: 1em; left: 50%; margin-left: -75px; }


#add { width: 320px; z-index: 999; position: absolute; margin-left: -210px; left: 53%; top: 61%; margin-top: -270px; box-shadow: 20 10px 10px 70px; padding: 30px; background: rgba(187, 188, 197, 0.97); overflow: hidden; }
#add input { font-family: 'Abel'; padding: 0 2%; margin: 0; width: 98%; border: none; padding: 10px 0; background: #F0F0F0; text-align: center; font-size: 1em; }
#add input.rd { background: #FFBABA; }
#add input:nth-child(even) { background: #F7F7F7; }

/*#scn { position: relative; display: block; overflow: hidden; }*/
.leap { position: absolute; top: 50%; left: 50%; z-index: 999;}

#upl {  z-index: 999; background: #A3D391; position: absolute; width: 220px; font-family: 'Signika'; padding: 20px; border: 3px solid #FFFFFF; top: 50px; right: -3px; text-align: center;color: #fff;}
#err, #ner { z-index: 999; background: #FFE38C; position: absolute; width: 220px; font-family: 'Signika'; padding: 20px; border: 3px solid #CE6262; top: 50px; right: -3px; text-align: center;}
#conf {  z-index: 999; background: #A3D391; position: absolute; width: 220px; font-family: 'Signika'; padding: 20px; border: 3px solid #FFFFFF; top: 50px; right: -3px; text-align: center;color: #fff;}
#lucila { width: 300px; margin-top: -25px; margin-left: -150px; background: rgba(194, 194, 194, 1); }
#lucila .ctl { width: 90px; margin: 0 auto; padding: 50px 0; }
#lucila .ctl .c { position: relative; margin: 0 10px; float: left; }
#lucila .c { cursor: pointer; }
#lucila .ply { width: 0;  height: 0; border-style: solid;  border-width: 15px 0 15px 20px;  border-color: transparent transparent transparent #35610C; }
#lucila .pse { top: 2px; height: 27px; width: 28px; background: rgba(218, 119, 119, 0.73); }
#lucila .ici { position: absolute; left: 0%; height: 20px; width: 20px; background: #ACD0E9; border-radius: 10px; top: 10px; }
#lucila .trk  { position: relative; width: 100%; background: #fff; height: 40px; overflow: hidden; }
#lucila .ttl {  width: 100%; background:#fff; overflow: hidden; }
#lucila .ttl p { margin: 0; text-align: center; text-transform: uppercase; font-size: 1.5em; margin-bottom: 1px; padding: 17px 0; color: #000; background: #E2E2E2; }
#lucila .ttp p:nth-child(odd) { background: #A9B493; }


#lucilo { height: 300px; margin-top: -150px; width: 400px; margin-left: -200px; background: #000; }
#lucilo video { height: 98%; }
#lucilo .ctl {  float: left; width: 20%; background: #DADADA; margin: 0 auto; padding: 28px 0; }
#lucilo .ctl .c { position: relative; margin: 0 10px; float: left; }
#lucilo .c { cursor: pointer; }
#lucilo .ply {  width: 0;  height: 0; border-style: solid;  border-width: 15px 0 15px 20px;  border-color: transparent transparent transparent #35610C; }
#lucilo .pse {  height: 27px; width: 28px; background: rgba(218, 119, 119, 0.73); }
#lucilo .ici { position: absolute; left: 0%; height: 10px; width: 10px; background: #000; border-radius: 5px; }
#lucilo .trk  { position: relative; width: 100%; background: #fff; height: 10px; overflow: hidden; }
#lucilo .ttl { float: left; width: 80%;  background: #DADADA; overflow: hidden; }
#lucilo .ttl p { margin: 0; text-align: center; padding: 11px 0; width: 76%; color: #000; background: #FFFFFF; text-transform: uppercase;  }
#lucilo .ttl p:nth-child(odd) { background: #DADADA; }


#lucili { width: 100%; margin-left: 0; left: 0; margin-top: 0px; top: 0; }
#lucili .ss { position: relative; height: 297px; width: 100%; overflow: hidden; border-bottom: 3px solid #B6C5EC; }
#lucili .ss .sli { position: absolute; top: 0; height: 80%; width: 100%; }
#lucili .ss .sli.a { left: 0; }
#lucili .ss .sli.l { left: -100%; }
#lucili .ss .sli.r { left: 100%; }
#lucili .arws .arw { position: absolute; top: 50%; margin-top: -60px; height: 40px; width: 40px; border-radius: 20px; background: rgba(194, 194, 194, 1); cursor: pointer; }
#lucili .arws .arw:hover { background: rgba(255, 250, 250, 1);}
#lucili .arws .arw.o { display: none; }
#lucili .arws .arw.r { left: 3%; }
#lucili .arws .arw.l { right: 3%; }
#crc p.s { position: relative; text-align: center; background: #ECECEC; padding: 12px 0; margin: 0; text-transform: uppercase; }
#crc p.s:nth-child(even) { background: #FFFFFF; }

#lucile { position: absolute; width: 500px; margin-left: -250px; margin-top: -80px;  }
#lucile a { display: block; width: 100%; background: #cecece; text-align: center; text-decoration: none; padding: 30px 0; color: #000; font-family: 'Signika'; }
#lucile a:hover { background: rgba(230, 230, 230, 1); }
#lucile p { text-align: center; margin: 0; padding: 20px 0; background: #D3B2C2; text-transform: uppercase; background: #FAFAFA; }

#crc { z-index: 999; height: 450px; width: 700px; background: rgba(255, 255, 255, 1); position: fixed; left: 50%; margin-left: -350px; top: 50%; margin-top: -200px; border: 5px solid #5F5F5F; }
#crc { display: none; }
#crc #lucila { width: 100%;  margin: 0; left: 0; top: 19%; }
#crc #lucilo {  width: 100%; margin: 0; left: 0; top: 0; }
#crc #lucili {   position: relative; }
#crc #lucile {   }
#crc #echo { position: absolute; left: 33%; cursor: pointer; padding: 20px 0px; text-align: center; border-radius: 0; box-shadow: 0 0 5px -3px; background: #9AC5AB; color: #fff; bottom: 0%;left: 0; width: 100%; }
#crc #echo:hover { background: #779282; }

.svs { text-align: center; background: #DBA6A6; padding: 20px 0; margin-top: 90px; width: 98%; color: #fff; cursor: pointer; }
.svs:hover { background: #BB3131; }

#upload_status { height: 20px; width: 20px; }
#upload_status img { height: 100%; width: 100%; }

#add select#mode { border: none; border-radius: 0; width: 100%; padding: 20px; margin: 20px 0; height: 40px; }
#add input#file { float: left; /* margin-right: 10px; */ width: 98%;  left: 12%; padding-top: 82px; cursor: pointer; background: #ADB2DB; }
#add input#file:hover { background: #737AB1; }
#add input#bf { cursor: pointer; background: #A98BE9; color: #fff; }
#add input#bf:hover { background: #6A4DA7; }

.cf:after {
  content: "";
  display: table;
  clear: both;
}


/*
ensembles*/



.featured { position: relative; margin: 0 auto; width: 700px; height: 700px; }
.featured .exit { position: absolute; padding: 5px 10px; background: #F3F3F3; color: #000; text-align: center; z-index: 999; width: 10%; left: 90.25%; top: 1%; text-transform: uppercase;
font-family: 'Signika'; display: none; cursor: pointer; }
.featured .exit:hover { background: #fff; color: #000; }
.featured .exit.x { display: block; }
.featured .feat { position: absolute; width: 45%; height: 45%; margin: 1%; padding: 1% 1%; background: #efe; border-radius: 0 0 0 0; cursor: pointer; }
.featured .feat h2  {  padding-top: 130px; text-align: center; margin: 0; font-size: 1.3em; }
#abt .slides .slide .featured .feat h3  {  text-align: center; margin: 0; font-size: 1em; color: #555; font-family: 'Abel' }
.featured .feat.o { height: 0%; width: 0%; border: none; }
.featured .feat.o.z { display: none; }
.featured .feat .s { margin-top: 20px; display: none; }
.featured .feat .s .desc { margin-top: 20px; padding: 0 5%; }
.featured .feat .s .desc h2 { padding: 0; }
.featured .feat .s.x { display: block; }
.featured .feat .s iframe { width: 90%; margin: 0 5%; }
.featured .feat .x { display: block; }
.featured .feat.tl { top: 0; left: 0; }
.featured .feat.tl { background: #E3E0E6; }
.featured .feat.tl:hover { background: rgba(144, 48, 224, 0.18); }
.featured .feat.tr { top: 0; left: 50%; }
.featured .feat.tr { background: #E0E6E2; }
.featured .feat.tr:hover { background: rgba(48, 224, 97, 0.18); }
.featured .feat.bl { top: 50%; left: 0; }
.featured .feat.bl { background: #D4DADF; }
.featured .feat.bl:hover { background: rgba(48, 125, 224, 0.18); }
.featured .feat.br { top: 50%; left:50%; }
.featured .feat.br { background: #DFDFD4; }
.featured .feat.br:hover { background: rgba(224, 189, 48, 0.18); }

.featured .feat.x { top: 0; left: 0; height: 95%; width: 100%;  z-index: 998; }
.featured .feat.x.tl:hover { background: #E3E0E6; }
.featured .feat.x.tr:hover { background: #E0E6E2; }
.featured .feat.x.bl:hover { background: #D4DADF; }
.featured .feat.x.br:hover { background: #DFDFD4; }
.featured .feat.x h2 { padding: 50px 20px 0 20px; }
.featured .feat.x h3 { padding: 0px 20px; }
.featured .feat.m { top: 0; }

.featured .feat .s.txt .dwn { width: 50%; margin-left: 25%; text-align: center; background: #F3F3F3; color: #000; margin-top: 20px; text-transform: uppercase;
font-family: 'Signika'; }
.featured .feat .s.txt .dwn:hover { background: #C9C9B9; color: #fff; }
.featured .feat .s.txt .dwn:active { background: #DFDFD4; }
.featured .feat .s.txt .dwn p { margin: 0; padding: 20px 0; }

.featured .feat .s.img .ss { position: relative; height: 400px; width: 90%; margin: 0 5%; overflow: hidden; }
.featured .feat .s.img .ss .sli { position: absolute; top: 0; height: 100%; width: 100%; }
.featured .feat .s.img .ss .sli.a { left: 0; }
.featured .feat .s.img .ss .sli.l { left: -100%; }
.featured .feat .s.img .ss .sli.r { left: 100%; }


.featured .feat .s.img .arws .arw { position: absolute; top: 50%; margin-top: -60px; height: 40px; width: 40px; border-radius: 20px; background: rgba(0, 0, 0, 0.68); }
.featured .feat .s.img .arws .arw:hover { background: rgba(0, 0, 0, 1);}
.featured .feat .s.img .arws .arw.o { display: none; }
.featured .feat .s.img .arws .arw.r { left: 3%; }
.featured .feat .s.img .arws .arw.l { right: 3%; }

.autres { width: 950px; margin: 0 auto; margin-top: 50px; }
.autres .autre {  float: left;  height: 100px; width: 100px; margin-right: 5px; background: #6B6B6B; color: #fff; cursor: pointer; }
.autres .autre p { margin: 0; padding-top: 30px; text-align: center; font-size: 2em; }
.autres .autre:hover { color: #000; background: #F3F3F3; }
.autres .autre.a { color: #000; background: #F3F3F3; }


/*pretty*/
/*#gxy { 
    -webkit-transition: all 100ms ease;
    -moz-transition: all 100ms ease;
    -o-transition: all 100ms ease;
    transition: all 100ms ease;
}*/
#lucila .ici { 
    -webkit-transition: all 100ms ease;
    -moz-transition: all 100ms ease;
    -o-transition: all 100ms ease;
    transition: all 100ms ease;
}
#lucili .sli, .lgn #log, #lucile a, #lucili .arws .arw, #add input#bf, #add input#file, .svs, .hd .lo, #clstr .clstr.cx, #abt .slides .slide { 
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}


#clstr .clstr, #crc #echo, .lgn.main a, #tac  { 
    -webkit-transition: all 1000ms ease;
    -moz-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
}

#gxy, #clstr, #tac, #abt, .slides, .featured .feat {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

#gxy .str, #gxy hr { 
    -webkit-transition: all 5000ms ease;
    -moz-transition: all 5000ms ease;
    -o-transition: all 5000ms ease;
    transition: all 5000ms ease;
}



