body { font-family: 'Abel'; margin: 0; font-size: 16px; background: url('i/EchoBG9.jpg') no-repeat center center fixed; background-size: cover; }
h1 { margin: 0; font-family: 'Signika'; text-transform: uppercase; }
a { text-decoration: none; color: #49b9ad; }

.wrp { margin: 0 auto; max-width: 1920px; min-width: 320px; }
.mct { margin: 0 auto; min-width: 600px; width: 600px; }
.mct h1 { font-size: 3.75em; text-align: center; }
.mct h2 { margin: 0; margin-top: -20px; text-align: center; text-transform: uppercase; font-size: 4.5em; font-weight: 400; }
.mct a.hd-logo { display: block; margin: 15px auto; height: 33px; width: 25px; padding: 11px 17px; border-radius: 15px; background: rgba(238, 241, 243, .9); }
.mct a.hd-logo:hover { background: rgba(220, 222, 223, 0.9); }

.mct .slides { position: relative; width: 100%; overflow: hidden; }
.mct .slides .slide { position: absolute; top: 0; left: 0; width: 100%; display: none; z-index: 1; }
.mct .slides .slide.a { left: 0; display: block; z-index: 5; } 
.mct .slides .slide.n { display: block; }
.mct .slides .slide.r { left: 100%;  } 
.mct .slides .slide.l { left: -100%;  } 


ul.nav { margin: 0; margin: 30px auto; padding: 0; font-size: 1.5em;  width: 448px; list-style-type: none; }
ul.nav li { margin-bottom: 30px; display: inline-block; padding: 0 5px 0 7px; cursor: pointer; }
ul.nav li a { color: #000; text-decoration: none; }
ul.nav li:hover { color: #49b9ad; }
ul.nav li.a { color: #49b9ad; }

.info { width: 100%; margin: 30px 0 50px 0; }
.info h3 { text-transform: uppercase; text-align: center; font-size: 1.125em; }
.info p { text-align: justify; font-size: 1.125em; }
.info.one span p { margin: 0 60px; font-size: 1.5em; }

.info.three p { text-align: center; margin: 0; }
.info.three a { color: #49b9ad; text-decoration: none; }
.info.three h5 { font-size: 1.125em; font-weight: 400; }

.info.four ol { padding-left: 23px; }
.info.four ol li { font-size: 1.125em; }
.info.four .form a { margin: 0 auto; display: block; width: 180px; background-color: #25A5A4; text-align: center; padding: 5px 10px; color: #FFF; font-size: 1.125em; text-decoration: none; }
.info.four .form a:hover { background: #158D8C; }
.info.five p { text-align: center; }

.info.five p { margin: 0; }
.info.five p span { color: #49b9ad; }

.info.six { text-align: center; }
.info.six a { font-size: 1.125em; color: #000; text-decoration: none; color: #49b9ad; }
.info.six a:hover { }
.info.six p { margin: 0; text-align: center; }

.info.seven .p a { color: #49b9ad; text-decoration: none; text-transform: uppercase; }

.dv { height: 9px; width: 100%; background: url('http://1beat.org/ui/i/div1.jpg') no-repeat center center; }



.sponsors .big { width: 380px; margin: 0 auto; margin-top: 60px; }
.sponsors .med { width: 670px; margin: 0 auto; margin-top: 100px; }
.sponsors { margin-top: 100px; }
.sponsors a { text-decoration: none; }
.sponsors h4 { margin: 0; color: #49b9ad; font-weight: 400; text-align: center; margin-top: -40px; font-size: 1.2em; }
.sponsors .logo { float: left; display: block; height: 150px; width: 150px; background: url('http://1beat.org/ui/i/flash-sprite.png'); margin: 0 10px 10px 0; }
.sponsors .logo.gov { height: 150px; width: 150px; margin-right: 20px; background-position: 600px 740px; }
.sponsors .logo.fsn { height: 150px; width: 195px; background-position: 410px 740px;} 
.sponsors .logo.boc { height: 90px; width: 350px; background-position: 760px 500px; } 
.sponsors .logo.rsc { height: 90px; width: 300px; background-position: 390px 510px; } 

.sponsors p.cp { width: 80%; margin-left: 10%; }

.mch.apl { margin: 25px auto; width: 300px; }
.mch.apl .mc-field-group label { text-align: center; font-size: 1.125em; }
.mch.apl .mc-field-group input.required.email { width: 190px; padding: 10px 10px; border: 0px; background-color: rgba(197, 228, 208, 0.83); color: #000; font-size: .8em; }
.mch.apl .button { border: none; float: right; margin-top: -38px; height: 36px; width: 80px; background-color: #6d6f71; color: #FFF; cursor: pointer; }


.social { width: 200px; margin: 0 auto; }
.social .c { float: left; overflow: hidden; }
.social .tw { height: 50px; width: 50px; background: url('http://1beat.org/ui/i/social.png'); }
.social .fb { height: 50px; width: 50px; background: url('http://1beat.org/ui/i/social.png'); background-position: 167px 0; }
.social .yt { height: 50px; width: 50px; background: url('http://1beat.org/ui/i/social.png'); background-position: 115px 0; }
.social .ig { height: 50px; width: 50px; background: url('http://1beat.org/ui/i/social.png'); background-position: 50px 0; }



.register { 
    position: relative; 
    width: 350px; 
    margin: 0 auto; 
    background: #E9E9E9; 
    padding: 30px 25px; 
    border-radius: 20px; 
    margin-top: 100px; 
    border-right: 2px solid #000;
    border-bottom: 1px solid #000;
}
.register a { position: absolute; top: 10px; right: 40px; color: #63B299; }
.register h2 { text-align: center; font-weight: 300; }
.register input {   font-family: 'Abel';
    border: none; 
    font-size: .8em;
    width: 100%; 
    padding: 12px 0; 
    background: #fff; 
    text-align: center;  
}
.register button {  font-size: .8em; margin-top: 7px; font-family: 'Abel'; width: 100%; padding: 10px; background: #63B299;  border: none; }

.share { width: 1024px; padding-top: 150px; margin: 0 auto; margin-bottom: 50px; }
.share .collage { width: 100%; margin-top: 55px; }
.share .filter { margin-right: 15px; float: right; margin-bottom: 5px; }
.share .filter h3 { margin: 0; margin-right: 15px; margin-bottom: 3px; font-weight: 300; font-size: .85em; }
.share .filter .o { float: left; margin-right: 3px; height: 20px; width: 20px; border-radius: 10px; cursor: pointer; text-align: center; color: #fff; }
.share .filter .a { background: #DAE4E2; }
.share .filter .v { background: #D0CFE2; }
.share .filter .l { background: #C8ECE5; }
.collage .strip {   }
.collage .strip .s { position: relative; float: left; height: 200px;; margin-right: 1%; margin-bottom: 1%; cursor: pointer; }
.collage .strip .s .i { position: absolute; bottom: 0; width: 100%; height: 50px; background: rgba(0, 0, 0, 0.59); }
.collage .strip .s .i h4 { margin: 0; padding-left: 15px; padding-top: 5px; font-weight: 300; color: #fff; }
.collage .strip .s .i p { margin: 0; padding-left: 15px; color: #fff; }
.collage .strip .s .i a { position: absolute; right: 15px; top: 5px; color: #fff; }
.collage .strip .o { width: 32%; }
.collage .strip .t {  width: 65%;  }
.collage .strip .a { background: #DAE4E2; }
.collage .strip .v { background: #D0CFE2; }
.collage .strip .l { background: #C8ECE5; }


.share h1 { margin: 0 auto; width: 700px; padding-left: 2%; }
.share .upload h2 { margin: 0; padding: 100px 0 0; font-weight: 300; }
.share .upload .upload { padding: 5px 0; width: 170px; background: #C8ECE5; text-align: center; cursor: pointer; }
.share .upload .upload:hover { background: #DAE4E2;  }

.ovly { z-index: 998; height: 100%; width: 100%; position: fixed; background: rgba(0, 0, 0, 0.74); display: none; }
.ovly.a { display: block; background: rgba(0, 0, 0, 0.74);}
.ovly .upop {  
    position: absolute; 
    z-index: 999;
    left: 50%;
    width: 350px; 
    background: #E9E9E9; 
    padding: 30px 25px; 
    border-radius: 20px; 
    margin-top: 100px; 
    margin-left: -175px;
    border-right: 2px solid #000;
    border-bottom: 1px solid #000;
}


.featured { position: relative; margin: 0 auto; width: 700px; height: 700px; }
.featured .exit { position: absolute; padding: 5px 10px; background: #F3F3F3; color: #000; text-align: center; z-index: 999; width: 10%; left: 90.25%; top: 1%; text-transform: uppercase;
font-family: 'Signika'; display: none; cursor: pointer; }
.featured .exit:hover { background: #fff; color: #000; }
.featured .exit.x { display: block; }
.featured .feat { position: absolute; width: 45%; height: 45%; margin: 1%; padding: 1% 1%; background: #efe; border-radius: 0 0 0 0; cursor: pointer; }
.featured .feat h2  {  padding-top: 130px; text-align: center; margin: 0; font-size: 1.3em; }
.featured .feat h3  {  text-align: center; margin: 0; font-size: 1em; }
.featured .feat.o { height: 0%; width: 0%; border: none; }
.featured .feat.o.z { display: none; }
.featured .feat .s { margin-top: 20px; display: none; }
.featured .feat .s .desc { margin-top: 20px; padding: 0 5%; }
.featured .feat .s .desc h2 { padding: 0; }
.featured .feat .s.x { display: block; }
.featured .feat .s iframe { width: 90%; margin: 0 5%; }
.featured .feat .x { display: block; }
.featured .feat.tl { top: 0; left: 0; }
.featured .feat.tl { background: #E3E0E6; }
.featured .feat.tl:hover { background: rgba(144, 48, 224, 0.18); }
.featured .feat.tr { top: 0; left: 50%; }
.featured .feat.tr { background: #E0E6E2; }
.featured .feat.tr:hover { background: rgba(48, 224, 97, 0.18); }
.featured .feat.bl { top: 50%; left: 0; }
.featured .feat.bl { background: #D4DADF; }
.featured .feat.bl:hover { background: rgba(48, 125, 224, 0.18); }
.featured .feat.br { top: 50%; left:50%; }
.featured .feat.br { background: #DFDFD4; }
.featured .feat.br:hover { background: rgba(224, 189, 48, 0.18); }

.featured .feat.x { top: 0; left: 0; height: 95%; width: 100%;  z-index: 998; }
.featured .feat.x.tl:hover { background: #E3E0E6; }
.featured .feat.x.tr:hover { background: #E0E6E2; }
.featured .feat.x.bl:hover { background: #D4DADF; }
.featured .feat.x.br:hover { background: #DFDFD4; }
.featured .feat.x h2 { padding: 50px 20px 0 20px; }
.featured .feat.x h3 { padding: 0px 20px; }
.featured .feat.m { top: 0; }

.featured .feat .s.txt .dwn { width: 50%; margin-left: 25%; text-align: center; background: #F3F3F3; color: #000; margin-top: 20px; text-transform: uppercase;
font-family: 'Signika'; }
.featured .feat .s.txt .dwn:hover { background: #C9C9B9; color: #fff; }
.featured .feat .s.txt .dwn:active { background: #DFDFD4; }
.featured .feat .s.txt .dwn p { margin: 0; padding: 20px 0; }

.featured .feat .s.img .ss { position: relative; height: 400px; width: 90%; margin: 0 5%; overflow: hidden; }
.featured .feat .s.img .ss .sli { position: absolute; top: 0; height: 100%; width: 100%; }
.featured .feat .s.img .ss .sli.a { left: 0; }
.featured .feat .s.img .ss .sli.l { left: -100%; }
.featured .feat .s.img .ss .sli.r { left: 100%; }


.featured .feat .s.img .arws .arw { position: absolute; top: 50%; margin-top: -60px; height: 40px; width: 40px; border-radius: 20px; background: rgba(0, 0, 0, 0.68); }
.featured .feat .s.img .arws .arw:hover { background: rgba(0, 0, 0, 1);}
.featured .feat .s.img .arws .arw.o { display: none; }
.featured .feat .s.img .arws .arw.r { left: 3%; }
.featured .feat .s.img .arws .arw.l { right: 3%; }

.autres { width: 1000px; margin: 0 auto; margin-top: 50px; }
.autres .autre {  float: left;  height: 120px; width: 120px; margin-right: 5px; background: #6B6B6B; color: #fff; cursor: pointer; }
.autres .autre p { margin: 0; padding-top: 40px; text-align: center; font-size: 2em; }
.autres .autre:hover { color: #000; background: #F3F3F3; }


.slide.two .ensemble { margin-top: 20px; }
.slide.two .ensemble p strong { padding: 5px 0 2px 0; }

.lgn { width: 500px;
margin: 170px auto;
padding: 50px 100px;
background: #F8F8F8; }

.lgn .pw { margin-bottom: 5px;
border: none;
padding: 12px 5px;
width: 490px;
text-align: center;
font-family: 'Abel';
font-size: 1em;
background: #EBEBEB;
}

.lgn #log { 
    margin-bottom: 5px;
padding: 20px 5px;
background: #A2DDD1;
text-align: center;
cursor: pointer;
color: #fff;
}

/*cf */

.cf:after {
  content: "";
  display: table;
  clear: both;
}

/*jolie*/
.ovly {   
  -webkit-transition: background 1200ms ease;
    -moz-transition: background 1200ms ease;
    -o-transition: background 1200ms ease;
    transition: background 1200ms ease;
}

.featured .feat, .featured .feat h2, .featured .exit {   
  -webkit-transition: all 1200ms ease;
    -moz-transition: all 1200ms ease;
    -o-transition: all 1200ms ease;
    transition: all 1200ms ease;
}

.autres .autre, .featured .feat .s.img .ss .sli {   
  -webkit-transition: all 700ms ease;
    -moz-transition: all 700ms ease;
    -o-transition: all 700ms ease;
    transition: all 700ms ease;
}

.featured .feat .s.txt .dwn, .featured .feat .s.img .arws .arw {   
  -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

.mct a, .info.four .form a, .share .upload .upload,  {   
	-webkit-transition: background 300ms ease;
    -moz-transition: background 300ms ease;
    -o-transition: background 300ms ease;
    transition: background 300ms ease;
}


.mct .slides .slide { -webkit-transition: left 300ms ease;
    -moz-transition: left 300ms ease;
    -o-transition: left 300ms ease;
    transition: left 300ms ease;
}


ul.nav li {   
	-webkit-transition: color 300ms ease;
    -moz-transition: color 300ms ease;
    -o-transition: color 300ms ease;
    transition: color 300ms ease;
}
