body { font-family: 'Abel'; margin: 0; font-size: 16px; background: url('i/EchoBG9.jpg') no-repeat center center fixed; background-size: cover; }
h1 { margin: 0; font-family: 'Signika'; text-transform: uppercase; }
a { text-decoration: none; color: #49b9ad; }

.wrp { margin: 0 auto; max-width: 1920px; min-width: 320px; }
.mct { margin: 0 auto; min-width: 600px; width: 600px; }
.mct h1 { font-size: 3.75em; text-align: center; }
.mct h2 { margin: 0; margin-top: -20px; text-align: center; text-transform: uppercase; font-size: 4.5em; font-weight: 400; }
.mct a.hd-logo { display: block; margin: 15px auto; height: 33px; width: 25px; padding: 11px 17px; border-radius: 15px; background: rgba(238, 241, 243, .9); }
.mct a.hd-logo:hover { background: rgba(220, 222, 223, 0.9); }

.mct .slides { position: relative; width: 100%; overflow: hidden; }
.mct .slides .slide { position: absolute; top: 0; left: 0; width: 100%; display: none; z-index: 1; }
.mct .slides .slide.a { left: 0; display: block; z-index: 5; } 
.mct .slides .slide.n { display: block; }
.mct .slides .slide.r { left: 100%;  } 
.mct .slides .slide.l { left: -100%;  } 


ul.nav { margin: 0; margin: 30px auto; padding: 0; font-size: 1.5em;  width: 515px; list-style-type: none; }
ul.nav li { margin-bottom: 30px; display: inline-block; padding: 0 5px 0 7px; cursor: pointer; }
ul.nav li a { color: #000; text-decoration: none; }
ul.nav li:hover { color: #49b9ad; }


.info { width: 100%; margin: 30px 0 50px 0; }
.info h3 { text-transform: uppercase; text-align: center; font-size: 1.125em; }
.info p { text-align: justify; font-size: 1.125em; }
.info.one span p { margin: 0 60px; font-size: 1.5em; }

.info.three p { text-align: center; margin: 0; }
.info.three a { color: #49b9ad; text-decoration: none; }
.info.three h5 { font-size: 1.125em; font-weight: 400; }

.info.four ol { padding-left: 23px; }
.info.four ol li { font-size: 1.125em; }
.info.four .form a { margin: 0 auto; display: block; width: 180px; background-color: #25A5A4; text-align: center; padding: 5px 10px; color: #FFF; font-size: 1.125em; text-decoration: none; }
.info.four .form a:hover { background: #158D8C; }
.info.five p { text-align: center; }

.info.five p { margin: 0; }
.info.five p span { color: #49b9ad; }

.info.six { text-align: center; }
.info.six a { font-size: 1.125em; color: #000; text-decoration: none; color: #49b9ad; }
.info.six a:hover { }
.info.six p { margin: 0; text-align: center; }

.info.seven .p a { color: #49b9ad; text-decoration: none; text-transform: uppercase; }

.dv { height: 9px; width: 100%; background: url('http://1beat.org/ui/i/div1.jpg') no-repeat center center; }



.sponsors .big { width: 380px; margin: 0 auto; margin-top: 60px; }
.sponsors .med { width: 670px; margin: 0 auto; margin-top: 100px; }
.sponsors { margin-top: 100px; }
.sponsors a { text-decoration: none; }
.sponsors h4 { margin: 0; color: #49b9ad; font-weight: 400; text-align: center; margin-top: -40px; font-size: 1.2em; }
.sponsors .logo { float: left; display: block; height: 150px; width: 150px; background: url('http://1beat.org/ui/i/flash-sprite.png'); margin: 0 10px 10px 0; }
.sponsors .logo.gov { height: 150px; width: 150px; margin-right: 20px; background-position: 600px 740px; }
.sponsors .logo.fsn { height: 150px; width: 195px; background-position: 410px 740px;} 
.sponsors .logo.boc { height: 90px; width: 350px; background-position: 760px 500px; } 
.sponsors .logo.rsc { height: 90px; width: 300px; background-position: 390px 510px; } 

.sponsors p.cp { width: 80%; margin-left: 10%; }

.mch.apl { margin: 25px auto; width: 300px; }
.mch.apl .mc-field-group label { text-align: center; font-size: 1.125em; }
.mch.apl .mc-field-group input.required.email { width: 190px; padding: 10px 10px; border: 0px; background-color: rgba(197, 228, 208, 0.83); color: #000; font-size: .8em; }
.mch.apl .button { border: none; float: right; margin-top: -38px; height: 36px; width: 80px; background-color: #6d6f71; color: #FFF; cursor: pointer; }


.social { width: 200px; margin: 0 auto; }
.social .c { float: left; overflow: hidden; }
.social .tw { height: 50px; width: 50px; background: url('http://1beat.org/ui/i/social.png'); }
.social .fb { height: 50px; width: 50px; background: url('http://1beat.org/ui/i/social.png'); background-position: 167px 0; }
.social .yt { height: 50px; width: 50px; background: url('http://1beat.org/ui/i/social.png'); background-position: 115px 0; }
.social .ig { height: 50px; width: 50px; background: url('http://1beat.org/ui/i/social.png'); background-position: 50px 0; }



.register { 
    position: relative; 
    width: 350px; 
    margin: 0 auto; 
    background: #E9E9E9; 
    padding: 30px 25px; 
    border-radius: 20px; 
    margin-top: 100px; 
    border-right: 2px solid #000;
    border-bottom: 1px solid #000;
}
.register a { position: absolute; top: 10px; right: 40px; color: #63B299; }
.register h2 { text-align: center; font-weight: 300; }
.register input {   font-family: 'Abel';
    border: none; 
    font-size: .8em;
    width: 100%; 
    padding: 12px 0; 
    background: #fff; 
    text-align: center;  
}
.register button {  font-size: .8em; margin-top: 7px; font-family: 'Abel'; width: 100%; padding: 10px; background: #63B299;  border: none; }


.lgn { width: 500px;
margin: 170px auto;
padding: 50px 100px;
background: #F8F8F8; }

.lgn .pw { margin-bottom: 5px;
border: none;
padding: 12px 5px;
width: 490px;
text-align: center;
font-family: 'Abel';
font-size: 1em;
background: #EBEBEB;
}

.lgn #log { 
    margin-bottom: 5px;
padding: 20px 5px;
background: #A2DDD1;
text-align: center;
cursor: pointer;
color: #fff;
}

/*cf */

.cf:after {
  content: "";
  display: table;
  clear: both;
}

/*jolie*/

.mct a, .info.four .form a {   
	-webkit-transition: background 300ms ease;
    -moz-transition: background 300ms ease;
    -o-transition: background 300ms ease;
    transition: background 300ms ease;
}


.mct .slides .slide { -webkit-transition: left 300ms ease;
    -moz-transition: left 300ms ease;
    -o-transition: left 300ms ease;
    transition: left 300ms ease;
}


ul.nav li {   
	-webkit-transition: color 300ms ease;
    -moz-transition: color 300ms ease;
    -o-transition: color 300ms ease;
    transition: color 300ms ease;
}
